@media(max-width:320px){
    .cards-antiguedades{
    h1{
        margin: 0;
        &::after{
            margin: 10px 20px;
        }
    } 
    }
    .cards-grid{
        grid-template-columns: 1fr;
    }
    .flip-card{
        width: 250px;
    }
    .flip-card-back{
        font-size: 1.10rem;
    }
}
