@media screen and (max-width: 320px){
    .nav-links, .btn {
        display: none;
    }
    .menu {
        display: inherit;
    }
    .header .overlay a{
        font-size: 20px;
    }
    .header .overlay .close{
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}